<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>br.unicamp.mc437.server.GreetingServiceImpl</servlet-class>
  </servlet>
  

  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/helloworldgwt/greet</url-pattern>
  </servlet-mapping>

      <servlet>
    <servlet-name>inserirProdutoServlet</servlet-name>
    <servlet-class>br.unicamp.mc437.server.InserirProdutoImpl</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>inserirProdutoServlet</servlet-name>
    <url-pattern>/helloworldgwt/inserirProduto</url-pattern>
  </servlet-mapping>
  
          <servlet>
    <servlet-name>subCategoriaServlet</servlet-name>
    <servlet-class>br.unicamp.mc437.server.SubCategoriasImpl</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>subCategoriaServlet</servlet-name>
    <url-pattern>/helloworldgwt/subCategoria</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>HelloWorldGWT.html</welcome-file>
  </welcome-file-list>

<!--  <listener> -->
<!--     <listener-class>br.unicamp.mc437.server.InitializeDBServletImpl</listener-class> -->
<!--  </listener> -->

</web-app>
